.about-us-third-page {
  background-color: black;

  img {
    width: 100%;
    height: 100%;
    background-color: black;
    animation: stoked 600ms infinite;
  }
}
// @keyframes stoked {
//   10%,
//   90% {
//     transform: translate3d(-2px, 0, 0);
//   }

//   20%,
//   80% {
//     transform: translate3d(4px, 0, 0);
//   }

//   30%,
//   50%,
//   70%,
//   100% {
//     transform: translate3d(-4px, 0, 0);
//   }

//   40%,
//   60% {
//     transform: translate3d(2px, 1px, 0);
//   }
// }
@media only screen and (max-width: 500px) {
  .about-us-third-page-img {
    margin-bottom: 80px;
  }
}
