.about-us-first-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.about-us-header-p {
  // margin-top: 100px;
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 700;

  -webkit-text-stroke: 1px #ffffff;
  color: black;
  font-family: poppins;
  position: relative;
  cursor: default;
}

.about-us-main-p {
  padding: 110px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-align: center;
  cursor: default;
}
.about-us-footer-p {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 100;
  color: white;
  cursor: default;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
  }
}

@media only screen and (max-width: 996px) {
  .about-us-header-p {
    font-size: 35px;
    padding: 15px 0 0 0;
  }
}

@media only screen and (max-width: 996px) {
  .about-us-main-p {
    font-weight: 300;
    font-size: 20px;
    padding: 15px 0 0 0;
  }
}
@media only screen and (max-width: 996px) {
  .about-us-footer-p {
    font-size: 17px;
    padding: 15px 0 0 0;
  }
}
