* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 !important;
  padding: 0;
}
body {
  background-color: #000;
}

/* //header */
#header-main {
  .desktop {
    margin-top: 20px;

    .header-apply {
      background-color: #54cc06;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 12px;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      transition: background-color 0.3s;
    }

    .header-apply:hover {
      background-color: #fd7304;
      transition: 0.5s ease all;
    }

    .header-content {
      background: #161618;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 40px;
      border-radius: 16px;
    }

    .header-logo img {
      height: 50px;
      cursor: pointer;
    }

    .header-nav ul {
      list-style: none;
      display: flex;
      gap: 30px;
      margin: 0;
      padding: 0;
    }

    .header-nav a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 200;
      color: white;
      transition: color 0.3s;
    }

    .header-nav a:hover {
      color: #fd7304;
    }
  }
  @media screen and (max-width: 768px) {
    .desktop {
      display: none;
    }
  }
}
#header-mobile {
  .container {
    padding: 20px 20px;
    margin-top: 20px;
    background: #141414;
    border-radius: 20px;
  }
  img {
    height: 37px;
  }
  i {
    color: white;
    font-size: 24px;
    padding: 8px;
    background-color: #1e1f21;
    border-radius: 12px;
    cursor: pointer;
  }
  .menu-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }
}
#mobile-menu {
  position: absolute;
  background: #161618;
  color: white;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 111111111;
  /* display: none;   */
  height: -webkit-fill-available;

  ul {
    list-style: none;
    padding: 0;

    li {
      text-align: center;
      margin: 30px 0;

      a {
        color: white;
        text-decoration: none;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #header-mobile {
    display: none !important;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@keyframes slideAround {
  0% {
    top: -100px;
    left: -100px;
  }
  25% {
    top: -100px;
    left: calc(100% - 200px);
  }
  50% {
    top: calc(100% - 200px);
    left: calc(100% - 200px);
  }
  75% {
    top: calc(100% - 200px);
    left: -100px;
  }
  100% {
    top: -100px;
    left: -100px;
  }
}

/* Banner-Slider */
#banner-slider {
  margin-top: 20px;
  .banner {
    padding: 30px 40px;
    background-color: #161618;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    .lightImg {
      position: absolute;
      /* width: 200px; */
      height: auto;
      animation: slideAround 10s infinite linear;
      opacity: 0.4 !important;

      /* z-index: -1; */
    }
    img {
      height: 400px;
    }
  }
  .card-desktop {
    z-index: 111111;
  }
  .banner-img {
    z-index: 1111111;
  }
  .banner-apply {
    background-color: #fd7304;
    color: white;
    border-radius: 12px;
    padding: 14px 28px;
    z-index: 111111;
    margin-right: 10px;
    font-weight: 600;
  }

  .banner-apply-light {
    border: none;
    background-color: #54cc06;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    padding: 14px 28px;
    z-index: 111111;
  }

  .banner-apply:hover {
    background-color: #e96a02;
    transition: 0.5s ease all;
  }

  .banner-apply-light:hover {
    background-color: #4cb804;
    transition: 0.5s ease all;
  }

  h1 {
    font-weight: 500;
    font-size: 50px;
    color: white;
    width: 68%;
    z-index: 1111111;
  }

  @media only screen and (max-width: 600px) {
    .card-desktop {
      h1 {
        font-size: 29px;
        width: 100%;
      }
    }
  }
  .my-presents {
    line-height: 1.6;
    margin: 20px 0 0 0;
    color: white;
  }
  .my-presents p {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  .my-presents p i {
    color: #28a745;
    margin-right: 10px;
    font-size: 22px;
  }
  .button-apply {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  .button-two {
    display: flex;
    align-items: end;
    gap: 20px;
  }
  @media screen and (max-width: 768px) {
    .banner-img {
      display: none;
    }
    .banner {
      padding: 20px;
    }
    h1 {
      font-size: 36px;
      width: 100%;
    }
    .button-apply {
      justify-content: center;
    }
  }
}

/* //stats section */

#stats-section {
  .container {
    padding: 0 !important;
  }
  .row {
    margin: 0 !important;
    padding: 0 !important;
  }

  margin-top: 20px;

  .stat-item {
    background-color: #161618;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    p {
      color: #767f8d;
    }
    h6 {
      color: white;
      font-size: 26px;
      font-weight: 900;
    }
  }
  .stat-item:hover {
    transition: 0.3s ease all;
    background-color: #27292b;
  }
  @media screen and (max-width: 768px) {
    h6 {
      font-size: 22px !important;
      font-weight: 600 !important;
    }
  }
}

#our-offer {
  margin: 40px;
  h2 {
    color: #eceff3;
    font-size: 36px;
    line-height: 48px;
    margin: 0;
  }
  h6 {
    color: #eceff3;
    font-size: 18px;
    line-height: 28px;
  }
  .card-row {
    /* margin-top: 20px; */
  }
  .offer-card {
    background: #161618;
    border-radius: 20px;
    padding: 20px;
  }
  .offer-card:hover {
    transition: 0.3s ease;
    background-color: #27292b;
    i {
      transition: 0.6s ease;
      background-color: #fd7304;
      /* padding: 20px; */
      border-radius: 50%;
    }
  }
  i {
    color: white;
    padding: 16px 20px;
    font-size: 20px;
  }

  .card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    height: 200px;
  }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 24px;
      line-height: 36px;
    }
    /* h6 {
      font-size: 14px;
      line-height: 20px;
    }
    i {
      display: none;
    }
    img {
      height: 130px;
    }
    .offer-card {
      padding: 6px;
    } */
  }
}

#footer {
  color: #fff;
  padding: 32px 0;
  .row {
    padding: 32px;
  }

  /* Логотип и описание */
  .footer-logo-img {
    max-width: 150px;
  }

  .row {
    background-color: #141414;
    border-radius: 20px;
  }

  .footer-social {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
  }

  /* Социальные иконки */
  .footer-social li {
    display: inline-block;
    text-align: center;
    margin: 0px 4px;
    padding: 4px 12px;
    /* background-color: #161618; */
    /* border-radius: 50%; */
  }
  .footer-social li:hover {
    transition: 0.3s ease all;
    display: inline-block;
    text-align: center;
    margin: 0px 4px;
    padding: 4px 12px;
    background-color: #fd7304;
    border-radius: 50%;
  }

  .footer-social a {
    color: #ccc;
    font-size: 18px;
    transition: color 0.3s;
  }

  .footer-communication-info {
    /* padding: 20px 60px; */
    background-color: #1e1f21;
    border-radius: 20px;
  }
  .footer-communication-info a {
    text-decoration: none;
    color: #767f8d;
    gap: 12px;
    padding: 20px 40px;
    border-radius: 20px;
    p {
      margin: 0 !important;
      font-size: 18px;
      color: #eceff3;
      font-weight: 600;
    }
    i {
      font-size: 20px;
      color: white;
    }
  }

  /* Адаптивный дизайн */
  @media (max-width: 768px) {
    .footer .row {
      text-align: center;
    }

    .footer-social {
      margin-top: 20px;
    }
  }
  .footer-communication-info a:hover {
    transition: 0.3s ease all;
    background-color: #27292b;
  }

  @media screen and (max-width: 768px) {
    .footer-communication-info a {
      text-align: center;
    }
    .footer-communication-info a p {
      font-size: 16px !important;
      line-height: 24px;
    }
    .footer-logo {
      display: flex;
      justify-content: center;
    }
    .footer-social {
      display: flex;
      justify-content: center;
    }
  }
}

#banner-information {
  /* padding: 40px 0; */
  margin: 40px 0;
  .banner {
    padding: 30px 40px;
    background: #161618;
    border-radius: 20px;
  }
  .banner-title {
    color: #fd7304;
    font-family: serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
  .banner-sub-title {
    color: #eceff3;
  }
  p {
    color: #767f8d;
    font-family: Visby CF;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  img {
    height: 220px;
  }
  @media screen and (max-width: 768px) {
    .banner-img {
      display: none;
    }
    .banner-sub-title {
      display: none;
    }
  }
}

#blog-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .blog-slide {
    height: 100%;
  }

  .blog-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  .blog-date {
    font-size: 14px;
    color: #7f8c8d;
    margin-bottom: 10px;
  }
  .blog-text {
    /* background-color: #f5f5f5; */

    border-radius: 16px;
    height: 332px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 36px 44px;
    border-radius: 24px;
    background: #161618;
    align-self: stretch;
  }
  .blog-img {
    height: 100%;
    img {
      height: 332px;
      border-radius: 16px;
    }
  }
  .blog-button {
    display: inline-block;
    background-color: #54cc06;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .blog-button a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }

  .blog-button i {
    margin-left: 8px; /* Отступ между текстом и иконкой */
    transition: transform 0.3s ease;
  }

  .blog-button:hover {
    background-color: #48af03;
    transform: translateY(-3px); /* Поднимет кнопку при наведении */
  }

  .blog-button:hover i {
    transform: translateX(5px); /* Иконка будет двигаться вправо */
  }

  .blog-button:active {
    transform: translateY(1px); /* При клике кнопка слегка опустится */
  }

  .blog-button a:hover {
    color: white; /* Цвет текста при наведении */
  }
  .blog-title {
    font-size: 28px;
    font-weight: bold;
    color: #eceff3 !important;
    margin-bottom: 15px;
  }

  .blog-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }

  /* Swiper.js стили */
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  /* Адаптивность */
  @media (max-width: 768px) {
    .blog-content {
      flex-direction: column;
      text-align: center;
    }

    .blog-info {
      max-width: 100%;
    }

    .blog-image {
      max-width: 100%;
      margin-top: 20px;
    }
    .blog-slide {
      padding: 20px;
    }
    .blog-title {
      font-size: 22px;
    }
    .blog-text {
      height: 100%;
      border-radius: 16px 16px 0 0;
      padding: 12px 24px;
    }
    .blog-img {
      img {
        border-radius: 0 0 16px 16px;
        height: 100%;
      }
    }
    .blog-button {
      display: none;
    }
  }
}

#portfolio {
  margin-top: 40px;
  h2 {
    color: #eceff3;
  }
  h6 {
    color: #eceff3;
    margin-bottom: 15px;
  }
  span {
    color: #767f8d;
  }
  .card-item {
    background: #161618;
    border-radius: 20px;
    padding: 20px 10px;
  }
  .card-img {
    opacity: 0.5;
  }
  img {
    border-radius: 12px;
  }
  .card-item:hover {
    transition: 0.3s ease;
    background-color: #27292b;
    .card-img {
      transition: 0.3s ease;
      opacity: 1;
    }
  }
}

#team {
  margin-top: 40px;
  .card {
    background: #161618;
    border-radius: 20px;
    padding: 20px;
    img {
      border-radius: 50%;
    }
  }
  .card:hover {
    transition: 0.3s ease;
    background-color: #27292b;
  }
  h2 {
    color: #eceff3;
  }
  .card-text {
    margin-top: 20px;
    text-align: center;
  }
  h6 {
    color: #eceff3;
  }
  p {
    color: #767f8d;
    margin: 0;
    display: inline-block;
  }
  p:hover {
    color: #fd7304;
    cursor: pointer;
  }
}

#blog {
  .container {
    /* margin: 20px 0; */

  }
  .custom-container {
    max-width: 800px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #141414;
  }
  .code-visby-body2-medium {
    color: white;
  }
  img {
    height: 600px;
    margin: 40px 0;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    img {
      height: 300px;
      margin: 20px 0;
    }
  }
  h1 {
    margin-top: 40px;
    color: #eceff3;
  }
  @media screen and (max-width: 768px) {
    h1 {
      margin-top: 20px;
    }
  }
  h2 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
  }
  p {
    color: #767f8d;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
  }

  .card {
    background-color: #141414;
    border-radius: 20px;
    padding: 20px;
    img {
      height: 300px;
      width: 100%;
      border-radius: 20px;
    }

    text-decoration: none;
    list-style: none;
  }
  @media screen and (max-width: 768px) {
    h2 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
    }
  }
}
