* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 !important;
  padding: 0;
}
body {
  background-color: #000;
}

/* //header */
#header-main {
  /* // position: fixed;
  // top: 0;
  // width: 100%; */
  margin-top: 20px;

  .header-apply {
    background-color: #54cc06;
    color: white;
    padding: 10px 20px;
    /* // border-radius: 5px; */
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .header-apply:hover {
    background-color: #fd7304;
  }

  .header-content {
    background: #161618;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    border-radius: 16px;
  }

  .header-logo img {
    height: 50px;
    cursor: pointer;
  }

  .header-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  .header-nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    color: white;
    transition: color 0.3s;
  }

  .header-nav a:hover {
    color: #fd7304;
  }
}

@keyframes slideAround {
  0% {
    top: -100px;
    left: -100px;
  }
  25% {
    top: -100px;
    left: calc(100% - 200px);
  }
  50% {
    top: calc(100% - 200px);
    left: calc(100% - 200px);
  }
  75% {
    top: calc(100% - 200px);
    left: -100px;
  }
  100% {
    top: -100px;
    left: -100px;
  }
}

/* Banner-Slider */
#banner-slider {
  margin-top: 20px;
  .banner {
    padding: 30px 40px;
    background-color: #161618;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    .lightImg {
      position: absolute;
      /* width: 200px; */
      height: auto;
      animation: slideAround 10s infinite linear;
      opacity: 0.4 !important;

      /* z-index: -1; */
    }
  }
  .card-desktop {
    z-index: 111111;
  }
  /* margin-top: 20px; */
  .banner-apply {
    background-color: #fd7304;
    border: 1px solid #fd7304;
    color: white;
    border-radius: 5px;
    padding: 14px 28px;
    z-index: 111111;
    margin-right: 10px;
  }
  .banner-img {
    z-index: 1111111;
  }

  .banner-apply-light {
    border: none;
    background-color: #f8f9fa;
    color: #54cc06;
    border: 1px solid #54cc06;
    border-radius: 5px;
    padding: 14px 28px;
    z-index: 111111;
  }

  .banner-apply-light:hover,
  .banner-apply:hover {
    background-color: #54cc06;
    color: white;
    border: 1px solid #54cc06;
    transition: var(
      --trans1,
      border-color 0.7s ease 0s,
      background-color 0.7s ease 0s
    );
  }

  h1 {
    font-weight: 500;
    font-size: 50px;
    color: white;
    width: 60%;
    z-index: 1111111;
  }

  @media only screen and (max-width: 600px) {
    .card-desktop {
      h1 {
        font-size: 36px;
      }
    }
  }
  .my-presents {
    line-height: 1.6;
    margin: 20px 0 0 0;
    color: white;
  }
  .my-presents p {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  .my-presents p i {
    color: #28a745;
    margin-right: 10px;
  }
  .button-apply {
    margin-top: 50px;
  }
  .button-two {
    display: flex;
    align-items: end;
    gap: 20px;
  }
}

/* //stats section */

#stats-section {
  .container {
    padding: 0 !important;
  }
  .row {
    margin: 0 !important;
    padding: 0 !important;
  }

  margin-top: 20px;

  .stat-item {
    background-color: #161618;
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    p {
      color: #767f8d;
    }
    h6 {
      color: white;
      font-size: 26px;
      font-weight: 900;
    }
  }
}

/* footer */
#footer {
  color: #fff;
  padding: 32px 0;
  .row {
    padding: 32px;
  }

  /* Логотип и описание */
  .footer-logo-img {
    max-width: 150px;
  }

  .row {
    background-color: #141414;
    border-radius: 20px;
  }

  .footer-social {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
  }

  /* Социальные иконки */
  .footer-social li {
    display: inline-block;
    text-align: center;
    margin: 0px 4px;
    padding: 4px 12px;
    /* background-color: #161618; */
    /* border-radius: 50%; */
  }
  .footer-social li:hover {
    transition: 0.3s ease all;
    display: inline-block;
    text-align: center;
    margin: 0px 4px;
    padding: 4px 12px;
    background-color: #fd7304;
    border-radius: 50%;
  }

  .footer-social a {
    color: #ccc;
    font-size: 18px;
    transition: color 0.3s;
  }

  .footer-communication-info {
    /* padding: 20px 60px; */
    background-color: #1e1f21;
    border-radius: 20px;
  }
  .footer-communication-info a {
    text-decoration: none;
    color: #767f8d;
    gap: 12px;
    padding: 20px 40px;
    border-radius: 20px;
    p {
      margin: 0 !important;
      font-size: 18px;
      color: #eceff3;
      font-weight: 600;
    }
  }

  /* Адаптивный дизайн */
  @media (max-width: 768px) {
    .footer .row {
      text-align: center;
    }

    .footer-social {
      margin-top: 20px;
    }
  }
  .footer-communication-info a:hover {
    transition: 0.3s ease all;
    background-color: #27292b;
  }

  @media screen and (max-width: 768px) {
    .footer-communication-info a {
      text-align: center;
    }
    .footer-communication-info a p {
      font-size: 16px !important;
      line-height: 24px;
    }
    .footer-logo {
      display: flex;
      justify-content: center;
    }
    .footer-social {
      display: flex;
      justify-content: center;
    }
  }
}
