* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: #000;
  font-size: 40px;
  padding: 30px 0;
}

.main {
  height: 90vh;
  width: 400vw;
  display: flex;
}

.main section {
  padding: 100px 0;
  height: 100%;
  width: 100vw;
  /* background-color: rgb(10, 10, 10); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 100px;
  color: #000;
}

.first-page {
  background-color: black;

}

.second-page {
  background-color: rgb(0, 0, 0);
}

.third-page {
  background-color: rgb(0, 0, 0);
}



.container-second-text {
  height: 100;
  width: 100;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 300px;
}
.container-second-text .text {
  font-weight: 500;
  font-size: 48px;
  color: #ff0000;
}
.count {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
  /* text-align:center; */
}

.count-text {
  display: flex;
  justify-content: center;
  color: rgb(119, 120, 122);
  font-size: 20px;
}
