.second-page {
  .title h2 {
    font-size: 65px;
    color: white;
    font-weight: 700;
    font-family: poppins;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: white;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    text-align: center;

    cursor: default;
  }
  .banner-img {
    img {
      width: 100%;
      height: 580px;
    }
  }
  .counter-span-text {
    color: white;
    margin-top: -110px;
    position: absolute;
    margin-left: 270px;
  }
  .second-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0px 50px 0 0px;

    .counter {
      display: flex;
      justify-content: center;
      gap: 30px;
      font-size: 110px;
      margin-top: -60px;
      font-weight: 700;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      -webkit-text-stroke-width: 2px;
      -webkit-text-fill-color: black;
      font-family: "Montserrat", sans-serif;
      cursor: default;
      &:hover {
        color: rgb(255, 0, 0);
        -webkit-text-stroke-color: rgb(255, 0, 0);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .title h2 {
      font-size: 33px;
    }
    .second-counter .counter {
      padding-top: 50px;
      gap: 50px;
      font-size: 58px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: black;
      font-family: "Montserrat", sans-serif;
    }
  }
  @media only screen and (max-width: 500px) {
    .title h2 {
      font-size: 33px;
    }
    .banner-img {
      img {
        height: 330px;
      }
    }
    .second-counter .counter {
      font-size: 38px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: black;
      font-family: "Montserrat", sans-serif;
    }
    .counter-span-text {
      font-size: 10px;
      margin-top: -10px;
      margin-left: 10px;
    }
    .second-counter {
      display: flex;
      justify-content: space-evenly;
    }
  }
  @media only screen and (max-width: 376px) {
    .title h2 {
      font-size: 26px;
      padding-top: 70px;
    }
    .banner-img {
      img {
        height: 300px;
      }
    }
    .banner-img {
      padding-top: 30px;
    }
    .second-counter .counter {
      padding-top: 80px;

      font-size: 38px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: black;
      font-family: "Montserrat", sans-serif;
    }

    .second-counter {
      display: flex;
      justify-content: space-evenly;
    }
    .second-counter .counter {
      padding-top: 10px;
    }
  }
}
