.header-main {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: -82px;
}

.header-main .header-navbar {
  color: black;
  margin-top: 15px;
}

.header-main .header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-main .header-navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.643);
  font-size: 20px;
  font-weight: 800;
}

.header-main .header-navbar ul li a:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}

.header-main .header-logo-img img {
  display: block;
  width: 60px;
  height: 60px;
}

.header-main .header-language {
  margin-top: 15px;
}

.header-main .header-language ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 7px;
}

.header-main .header-language ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.374);
  font-size: 20px;
  font-weight: 600;
}

.header-main .header-language .lang-ru {
  color: rgb(209, 4, 4);
}

.header-main .header-language .lang-ru:hover {
  color: red;
  transition: all 0.4 ease-in-out;
}

.header-main .header-language .lang-en:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}

.first-img img {
  width: 400px;
  height: 400px;
}

.first-right-p {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.first-right-p span {
  color: red;
  font-size: 25px;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: #000;
  font-size: 40px;
  padding: 30px 0;
}

.main {
  height: 90vh;
  width: 400vw;
  display: flex;
}

.main section {
  padding: 100px 0;
  height: 100%;
  width: 100vw;
  /* background-color: rgb(10, 10, 10); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 100px;
  color: #000;
}

.first-page {
  background-color: black;
}

.second-page {
  background-color: rgb(0, 0, 0);
}

.third-page {
  background-color: rgb(0, 0, 0);
}

.first-page {
  padding: 0px 0px 0 0;
}

.first-infinity {
  padding: 150px 80px 0 0px;
}
.first-infinity svg {
  width: 100%;
  height: 100%;
}

.first-text {
  padding: 100px 0 0 80px;
}

.first-header-text-p-red {
  color: #dd0103;
  font-size: 120px;
  font-weight: 700;
  cursor: default;
}

.first-header-text p {
  margin: 0;
  padding: 0;
  margin-left: -20px;
  cursor: default;
  line-height: 130px;
}

.first-header-text-white {
  color: white;
  font-size: 120px;
}

svg {
  transform: rotate(315deg);
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000;
  background: rgb(0, 0, 0);
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linecap: round;
  stroke-width: 4%;
}

use {
  stroke: #dd0103;
  animation: a 4s linear infinite;
}

@keyframes a {
  to {
    stroke-dashoffset: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .first-header-text p {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
  .first-infinity {
    padding: 120px 0 0px 0px;
  }
  .first-text {
    padding: 60px 0 0 0;
  }
}
#container11 {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 60px;
  width: 100%;
  bottom: 45%;
  display: block;
}
#container11 p {
  width: 100%;
  bottom: 20px;
  font-size: 12px;
  color: #999;
}

#flip {
  height: 45px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 0px 0px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 4s linear infinite;
}

#flip div:first-child div {
  background: #4ec7f3;
}

#flip div:last-child div {
  background: #dd0103;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@media only screen and (max-width: 500px) {
  #container11 {
    display: none;
  }
}
.second-h1 h1 {
  font-size: 65px;
  color: white;
  font-weight: 700;
  font-family: poppins;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.second-img img {
  width: 100%;
  height: 480px;
}

.counter-span-text {
  color: white;
  margin-top: -110px;
  position: absolute;
  margin-left: 270px;
}

.second-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px 0 0px;
}
.second-counter .counter {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 110px;
  margin-top: -60px;
  font-weight: 700;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: black;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}
.second-counter .counter:hover {
  color: rgb(255, 0, 0);
  -webkit-text-stroke-color: rgb(255, 0, 0);
  transition: all 0.5s ease-in-out;
}

.border-word {
  -webkit-text-stroke: 2px #dd0103;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .second-h1 h1 {
    font-size: 50px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .second-h1 h1 {
    font-size: 33px;
  }
  .second-counter .counter {
    padding-top: 50px;
    gap: 50px;
    font-size: 58px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
}
@media only screen and (max-width: 500px) {
  .second-h1 h1 {
    font-size: 22px;
    padding-top: 70px;
  }
  .second-img img {
    padding-top: 30px;
    height: 380px;
  }
}
@media only screen and (max-width: 350px) {
  .second-h1 h1 {
    font-size: 22px;
    padding-top: 70px;
  }
  .second-img img {
    padding-top: 30px;
    height: 280px;
  }
}
@media only screen and (max-width: 500px) {
  .second-counter .counter {
    padding-top: 100px;
    font-size: 38px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
}
@media only screen and (max-width: 360px) {
  .second-counter .counter {
    padding-top: 80px;
    font-size: 38px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
  .second-counter {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 500px) {
  .counter-span-text {
    font-size: 10px;
    margin-top: -10px;
    margin-left: 10px;
  }
  .second-counter {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 375px) {
  .second-counter .counter {
    padding-top: 100px;
  }
  .second-h1 h1 {
    font-size: 17px;
  }
}
.third {
  background-color: black;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  overflow: hidden;
  transform: skew(5deg);
}
.container3 .card333 {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}
.container3 .card333 .card__head {
  color: hsl(0deg, 0%, 100%);
  background: rgba(221, 1, 5, 0.4274509804);
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  white-space: nowrap;
  font-family: poppins;
}
.container3 .card333:hover {
  flex-grow: 10;
}
.container3 .card333:hover img {
  filter: grayscale(0);
}
.container3 .card333:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.container3 .card333 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.container3 .card333:not(:nth-child(5)) {
  margin-right: 1em;
}

.third-header h3 {
  padding-top: 60px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: black;
  font-family: poppins;
  cursor: default;
}

@media only screen and (max-width: 500px) {
  .third-header h3 {
    font-size: 35px;
  }
  .container3 {
    padding-top: 120px;
  }
  .container3 .card333 .card__head {
    padding: 0;
  }
}
.about-us-first-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.about-us-header-p {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 700;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  font-family: poppins;
  position: relative;
  cursor: default;
}

.about-us-main-p {
  padding: 110px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-align: center;
  cursor: default;
}

.about-us-footer-p {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 100;
  color: white;
  cursor: default;
}
.about-us-footer-p p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

@media only screen and (max-width: 996px) {
  .about-us-header-p {
    font-size: 35px;
    padding: 15px 0 0 0;
  }
}
@media only screen and (max-width: 996px) {
  .about-us-main-p {
    font-weight: 300;
    font-size: 20px;
    padding: 15px 0 0 0;
  }
}
@media only screen and (max-width: 996px) {
  .about-us-footer-p {
    font-size: 17px;
    padding: 15px 0 0 0;
  }
}
.about-us-second-page {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

.about-us-second-header {
  padding: 280px 0 0 0;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 1px #ffffff;
  color: rgb(0, 0, 0);
  font-family: poppins;
  cursor: default;
}

.Carousel {
  height: 400px;
  width: 100%;
}

.Carousel-card {
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  color: black;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  margin: 0 20px;
  scroll-snap-align: center;
  width: 270px;
  border: 3px solid red;
}

.Carousel-inner {
  display: flex;
  height: 330px;
  overflow-x: scroll;
  padding: 20px;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.Carousel-inner img {
  height: 330x;
  width: 270px;
}

.about-us-second-flegri-1 {
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  margin-bottom: 0px;
  line-height: 25px;
  font-family: poppins;
  opacity: 0.3;
}

.about-us-second-flegri-2 {
  display: block;
  font-size: 40px;
  color: white;
  font-family: poppins;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  margin-bottom: 0px;
  opacity: 0.2;
}

.about-us-second-flegri-3 {
  display: block;
  font-size: 40px;
  color: white;
  font-family: poppins;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  margin-bottom: 0px;
  opacity: 0.1;
  line-height: 25px;
}

@media only screen and (max-width: 1280px) {
  .about-us-second-footer {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .about-us-footer-p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 996px) {
  .about-us-second-header {
    font-size: 35px;
    padding: 50px;
  }
}
.about-us-third-page {
  background-color: black;
}
.about-us-third-page img {
  width: 100%;
  height: 100%;
  background-color: black;
  animation: stoked 600ms infinite;
}

@media only screen and (max-width: 500px) {
  .about-us-third-page-img {
    margin-bottom: 80px;
  }
}
.about-header-main {
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
}

.about-header-logo-img img {
  width: 60px;
  height: 60px;
}

.about-header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-header-main .about-header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-header-main .about-header-navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.643);
  font-size: 20px;
  font-weight: 800;
}

.about-header-main .about-header-navbar ul li a:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}

.about-header-main .about-header-logo-img img {
  width: 60px;
  height: 60px;
}

.about-header-main .about-header-language ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 7px;
}

.about-header-main .about-header-language ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.374);
  font-size: 20px;
  font-weight: 600;
}

.about-header-main .about-header-language .lang-ru {
  color: rgb(209, 4, 4);
}

.about-header-main .about-header-language .lang-ru:hover {
  color: red;
  transition: all 0.4 ease-in-out;
}

.about-header-main .about-header-language .lang-en:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}

.about-header-navbar {
  margin-top: 1rem;
}

.about-header-language {
  margin-top: 1rem;
}