@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-page,
.second-page,
.third-page,
.four-page {
  background-color: rgb(0, 0, 0);
  padding-bottom: 150px;
}

header .header-main {
  z-index: 1111111;
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0%;
  border-top: 3px solid #4e1f1f;
}
header .header-main .header-logo-img {
  display: flex;
  justify-content: center;
  text-align: center;
}
header .header-main .header-logo-img img {
  margin: 1rem 0;
  width: 45px;
  height: 40px;
  cursor: pointer;
}
header .header-main .header-navbar {
  margin: 1rem 0;
}
header .header-main .header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-main .header-navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.643);
  font-size: 24px;
  font-weight: 800;
}
header .header-main .header-navbar ul li a p {
  margin: 0;
}
header .header-main .header-navbar ul a:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}
header .header-main .header-language {
  margin: 1rem 0;
  list-style-type: none;
  display: flex;
  justify-content: end;
}
header .header-main .header-language p {
  color: rgb(209, 4, 4);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
header .header-main .header-language p:hover {
  color: red;
  transition: all 0.4 ease-in-out;
}
header .header-main .header-language .lang-ru .header-main .header-language .lang-en:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}
header .first-img img {
  width: 400px;
  height: 400px;
}
header .first-right-p {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
header .first-right-p span {
  color: red;
  font-size: 25px;
  font-weight: 800;
}
@media only screen and (max-width: 969px) {
  header .header-main {
    display: none;
  }
  header .header-mobil {
    display: block;
  }
}
@media only screen and (min-width: 969px) {
  header .header-main {
    display: block;
  }
  header .header-mobil {
    display: none;
  }
}
header .header-mobil {
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-color: black;
  z-index: 11111;
}
header .header-mobil .row {
  height: 100px;
}
header .header-mobil i {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
header .header-mobil hr {
  color: red;
  height: 5px;
}
header .header-mobil a {
  text-decoration: none;
}

.first-page .content {
  padding: 160px 0 0 0;
}
.first-page .content .main-title .red-title {
  color: #dd0103;
  font-size: 140px;
  font-weight: 700;
  line-height: 120px;
}
.first-page .content .main-title .white-title {
  color: white;
  font-size: 120px;
  font-weight: 700;
  line-height: 110px;
}
.first-page .first-infinity {
  padding: 360px 0px 0 0px;
}
.first-page .first-infinity svg {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .first-page .red-title,
  .first-page .white-title {
    padding: 20px 0 0 0;
    font-size: 70px !important;
    line-height: 50px !important;
    text-align: center;
  }
  .first-page .main-title {
    padding: 60px 0 0 0;
  }
  .first-page .first-infinity {
    padding: 80px 60px 0 0px;
  }
  .first-page .content {
    padding: 0;
  }
}
.first-page #container11 {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 50px;
  width: 100%;
  bottom: 45%;
  display: block;
}
.first-page #flip {
  height: 45px;
  width: 420px;
  overflow: hidden;
  position: relative;
}
.first-page #flip > div > div {
  color: #fff;
  padding: 0;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 45px;
}
.first-page #flip div:first-child div {
  background: #4ec7f3;
}
.first-page #flip div:last-child div {
  background: #dd0103;
}
@keyframes show {
  0%, 20% {
    opacity: 0;
    transform: translateY(100%);
  }
  25%, 75% {
    opacity: 1;
    transform: translateY(0);
  }
  80%, 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.first-page #e1 {
  animation: show 4s linear infinite;
}
.first-page #e2 {
  animation: show 4s linear infinite 2s;
}
@media only screen and (max-width: 500px) {
  .first-page #container11 {
    display: none;
  }
}
.first-page svg {
  transform: rotate(315deg);
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000;
  background: rgb(0, 0, 0);
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linecap: round;
  stroke-width: 4%;
}
.first-page use {
  stroke: #dd0103;
  animation: a 4s linear infinite;
}
@keyframes a {
  to {
    stroke-dashoffset: 0px;
  }
}

.second-page .banner-img img {
  width: 100%;
  height: 580px;
}
.second-page .counter-span-text {
  color: white;
  margin-top: -110px;
  position: absolute;
  margin-left: 270px;
}
.second-page .second-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-page .second-counter .counter {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 110px;
  margin-top: -60px;
  font-weight: 700;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: black;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}
.second-page .second-counter .counter:hover {
  color: rgb(255, 0, 0);
  -webkit-text-stroke-color: rgb(255, 0, 0);
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .second-page .second-counter .counter {
    padding-top: 50px;
    gap: 50px;
    font-size: 58px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
}
@media only screen and (max-width: 500px) {
  .second-page .banner-img img {
    height: 330px;
  }
  .second-page .second-counter .counter {
    font-size: 38px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
  .second-page .counter-span-text {
    font-size: 10px;
    margin-top: -10px;
    margin-left: 10px;
  }
  .second-page .second-counter {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 376px) {
  .second-page .banner-img img {
    height: 300px;
  }
  .second-page .banner-img {
    padding-top: 30px;
  }
  .second-page .second-counter .counter {
    padding-top: 80px;
    font-size: 38px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
  .second-page .second-counter {
    display: flex;
    justify-content: space-evenly;
  }
  .second-page .second-counter .counter {
    padding-top: 10px;
  }
}

.third-page #structure .description {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.2rem;
  color: #c0c0c0;
}
.third-page #structure .box {
  display: flex;
  gap: 30px;
  margin: 40px 0;
}
.third-page #structure .step-box {
  padding: 20px;
  border: 2px solid;
  border-image: linear-gradient(45deg, #ff4500, #ff0000) 1;
  text-align: center;
  min-height: 200px;
  height: max-content;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.third-page #structure .step-box:hover {
  transform: translateY(-10px);
  border-color: #ff8c00;
}
.third-page #structure .step-box.reveal {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-out;
}
.third-page #structure .step-box.hidden {
  opacity: 0;
  transform: translateY(50px);
}
.third-page #structure .step-box h4 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffffff;
  transition: color 0.3s;
}
.third-page #structure .step-box h4:hover {
  color: #ff8c00;
}
.third-page #structure .step-box p {
  font-size: 16px;
  color: rgba(249, 249, 249, 0.6117647059);
}
.third-page #structure .arrow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}
.third-page #structure .arrow44 {
  display: none;
}
@media only screen and (max-width: 767px) {
  .third-page #structure .arrow {
    display: none;
  }
  .third-page #structure .description {
    font-size: 1rem;
  }
  .third-page #structure .arrow44 {
    display: block;
  }
  .third-page #structure .col {
    padding-right: calc(var(--bs-gutter-x) * 0.2) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.2) !important;
    padding: 0 !important;
  }
  .third-page #structure .step-box {
    padding: 12px 4px;
  }
  .third-page #structure h4 {
    font-size: 18px;
  }
  .third-page #structure p {
    font-size: 12px;
  }
  .third-page #structure .arrow4 {
    display: none;
  }
  .third-page #structure .box {
    gap: 8px;
    margin: 10px;
  }
}

.third {
  background-color: black;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
  overflow: hidden;
  transform: skew(5deg);
}
.container3 .cardBox {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}
.container3 .cardBox .card__head {
  color: hsl(0, 0%, 100%);
  background: rgba(221, 1, 5, 0.4274509804);
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  white-space: nowrap;
  font-family: poppins;
}
.container3 .cardBox:hover {
  flex-grow: 10;
}
.container3 .cardBox:hover img {
  filter: grayscale(0);
}
.container3 .cardBox:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  transform: rotate(0deg) skew(-5deg);
}
.container3 .cardBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.container3 .cardBox:not(:nth-child(5)) {
  margin-right: 1em;
}

@media only screen and (max-width: 500px) {
  .container3 .cardBox .card__head {
    font-size: 20px;
    padding: 0;
    font-weight: 300;
  }
  .container3 .cardBox .card__head:hover {
    font-size: 15px;
  }
}
.about-us-first-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.about-us-main-p {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-align: center;
  cursor: default;
}

.about-us-footer-p {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 100;
  color: white;
  cursor: default;
}
.about-us-footer-p p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

@media only screen and (max-width: 996px) {
  .about-us-main-p {
    font-weight: 300;
    font-size: 20px;
    padding: 15px 0 0 0;
  }
}
@media only screen and (max-width: 996px) {
  .about-us-footer-p {
    font-size: 17px;
    padding: 15px 0 0 0;
  }
}
.about-header-main {
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
}

.about-header-logo-img img {
  width: 60px;
  height: 60px;
}

.about-header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-header-main .about-header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-header-main .about-header-navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.643);
  font-size: 20px;
  font-weight: 800;
}

.about-header-main .about-header-navbar ul li a:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}

.about-header-main .about-header-logo-img img {
  width: 60px;
  height: 60px;
}

.about-header-main .about-header-language ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 7px;
}

.about-header-main .about-header-language ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.374);
  font-size: 20px;
  font-weight: 600;
}

.about-header-main .about-header-language .lang-ru {
  color: rgb(209, 4, 4);
}

.about-header-main .about-header-language .lang-ru:hover {
  color: red;
  transition: all 0.4 ease-in-out;
}

.about-header-main .about-header-language .lang-en:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}

.about-header-navbar {
  margin-top: 1rem;
}

.about-header-language {
  margin-top: 1rem;
}

@media only screen and (max-width: 969px) {
  .about-header-main {
    display: none;
  }
  .header-mobil {
    display: block;
  }
}
@media only screen and (min-width: 969px) {
  .about-header-main {
    display: block;
  }
  .header-mobil {
    display: none;
  }
}
#contact {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  /* Адаптивность для телефонов */
}
#contact .map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#contact .map-container iframe {
  width: 100%;
  height: 100%;
  filter: grayscale(100%) brightness(30%);
}
#contact .contact-info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}
#contact .info-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid red;
  flex: 1 1 calc(45% - 40px);
  margin: 10px;
  min-width: 200px;
}
#contact .info-box h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #fff;
}
#contact .info-box p {
  margin: 0;
  color: #ccc;
}
#contact .sosial-network {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}
#contact .sosial-network li {
  margin: 0 10px;
  list-style: none;
}
#contact .sosial-network li a {
  color: white;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  #contact .contact-info {
    flex-direction: column;
    align-items: center;
  }
  #contact .info-box {
    flex: 1 1 100%;
    margin: 10px 0;
    min-width: unset;
  }
  #contact .info-box h3 {
    font-size: 1em;
  }
  #contact .info-box p {
    font-size: 0.9em;
  }
}
@media (max-width: 480px) {
  #contact .info-box {
    padding: 15px;
  }
  #contact .info-box h3 {
    font-size: 0.9em;
  }
  #contact .info-box p {
    font-size: 0.8em;
  }
}

#services {
  background-color: #111111;
  color: #ffffff;
}
#services .description {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.2rem;
  color: #c0c0c0;
}
#services .box {
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}
#services .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
}
#services .step-box {
  padding: 20px;
  border: 2px solid #e0e0e0;
  text-align: center;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  height: 100%;
}
#services .step-box:hover {
  border-color: red;
}
#services .step-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}
#services .step-box ul {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  color: #c0c0c0;
}
#services .step-box ul li {
  padding: 5px 0;
  text-align: left;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  #services .description {
    font-size: 1rem;
  }
  #services .box {
    padding: 10px 0px;
  }
  #services .step-box {
    padding: 15px;
  }
  #services .step-box h2 {
    font-size: 1.2rem;
  }
  #services .step-box ul {
    font-size: 0.8rem;
  }
  #services .step-box ul li {
    padding: 3px 0;
  }
}

@media only screen and (max-width: 767px) {
  #services {
    padding: 0px 0px 100px 0px;
  }
}
#blog {
  min-height: 100vh;
  padding-bottom: 200px;
}
#blog .top-card {
  margin-top: 40px;
}
#blog .blog-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
  margin: 12px 0;
}
#blog .blog-card:hover {
  transform: translateY(-5px);
}
#blog .blog-card .blog-card-img {
  overflow: hidden;
  border-radius: 8px;
}
#blog .blog-card .blog-card-img img {
  width: 100%;
  height: auto;
  display: block;
}
#blog .blog-card .blog-card-content {
  padding: 20px;
}
#blog .blog-card .blog-card-content h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 1.5em;
  color: #333333;
}
#blog .blog-card .blog-card-content p {
  color: #666666;
  line-height: 1.6;
}
#blog .blog-card .blog-card-content .blog-detail {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(218, 30, 30);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#blog .blog-card .blog-card-content .blog-detail:hover {
  background-color: rgb(201, 7, 7);
}

#blog-details {
  min-height: 100vh;
  padding: 100px 0;
}
#blog-details .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#blog-details .back-button a {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  color: red;
}
#blog-details .back-button a:hover {
  color: rgb(181, 9, 9);
}
#blog-details .blog-header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  font-family: "Playfair Display", serif;
}
#blog-details .blog-header .date {
  font-size: 0.9em;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}
#blog-details .blog-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
#blog-details .blog-content p {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: justify;
}
@media (max-width: 768px) {
  #blog-details .blog-header h1 {
    font-size: 2em;
  }
  #blog-details .blog-content p {
    font-size: 1em;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon.eot?8bv6dj");
  src: url("/assets/fonts/icomoon.eot?8bv6dj#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?8bv6dj") format("truetype"), url("/assets/fonts/icomoon.woff?8bv6dj") format("woff"), url("/assets/fonts/icomoon.svg?8bv6dj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before {
  content: "\e902";
}

.icon-folder:before {
  content: "\e903";
}

.icon-info-1:before {
  content: "\e900";
}

.icon-home:before {
  content: "\e901";
}

main {
  background-color: black;
}

.title {
  padding: 100px 0 0 0;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  font-family: poppins;
  position: relative;
  cursor: default;
}

@media only screen and (max-width: 767px) {
  .title {
    padding: 40px 0;
    font-size: 40px;
  }
}