header .header-main {
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0%;
  border-top: 3px solid #4e1f1f;
}
header .header-main .header-logo-img {
  display: flex;
  justify-content: center;
  text-align: center;
}
header .header-main .header-logo-img img {
  margin: 1rem 0;
  width: 45px;
  height: 40px;
  cursor: pointer;
}
header .header-main .header-navbar {
  margin: 1rem 0;
}
header .header-main .header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-main .header-navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.643);
  font-size: 24px;
  font-weight: 800;
}
header .header-main .header-navbar ul li a p {
  margin: 0;
}
header .header-main .header-navbar ul a:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}
header .header-main .header-language {
  margin: 1rem 0;
  list-style-type: none;
  display: flex;
  justify-content: end;
}
header .header-main .header-language p {
  color: rgb(209, 4, 4);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
header .header-main .header-language p:hover {
  color: red;
  transition: all 0.4 ease-in-out;
}
header .header-main .header-language .lang-ru .header-main .header-language .lang-en:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}
header .first-img img {
  width: 400px;
  height: 400px;
}
header .first-right-p {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
header .first-right-p span {
  color: red;
  font-size: 25px;
  font-weight: 800;
}
@media only screen and (max-width: 969px) {
  header .header-main {
    display: none;
  }
  header .header-mobil {
    display: block;
  }
}
@media only screen and (min-width: 969px) {
  header .header-main {
    display: block;
  }
  header .header-mobil {
    display: none;
  }
}
header .header-mobil {
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-color: black;
}
header .header-mobil .row {
  height: 100px;
}
header .header-mobil i {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
header .header-mobil hr {
  color: red;
  height: 15px;
}
header .header-mobil a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: auto;
  width: 400vw;
  display: flex;
}

.main section {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-page,
.second-page,
.third-page {
  background-color: rgb(0, 0, 0);
}

.second-page {
  background-color: salmon;
}

.first-page .content {
  padding: 160px 0 0 0;
}
.first-page .content .main-title .red-title {
  color: #dd0103;
  font-size: 140px;
  font-weight: 700;
  line-height: 120px;
}
.first-page .content .main-title .white-title {
  color: white;
  font-size: 120px;
  font-weight: 700;
  line-height: 110px;
}
.first-page .first-infinity {
  padding: 160px 0px 0 0px;
}
.first-page .first-infinity svg {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .first-page .red-title,
  .first-page .white-title {
    padding: 20px 0 0 0;
    font-size: 70px !important;
    line-height: 50px !important;
    text-align: center;
  }
  .first-page .main-title {
    padding: 60px 0 0 0;
  }
  .first-page .first-infinity {
    padding: 80px 60px 0 0px;
  }
  .first-page .content {
    padding: 0;
  }
}
.first-page #container11 {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 50px;
  width: 100%;
  bottom: 45%;
  display: block;
}
.first-page #flip {
  height: 45px;
  width: 420px;
  overflow: hidden;
  position: relative;
}
.first-page #flip > div > div {
  color: #fff;
  padding: 0;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 45px;
}
.first-page #flip div:first-child div {
  background: #4ec7f3;
}
.first-page #flip div:last-child div {
  background: #dd0103;
}
@keyframes show {
  0%, 20% {
    opacity: 0;
    transform: translateY(100%);
  }
  25%, 75% {
    opacity: 1;
    transform: translateY(0);
  }
  80%, 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.first-page #e1 {
  animation: show 4s linear infinite;
}
.first-page #e2 {
  animation: show 4s linear infinite 2s;
}
@media only screen and (max-width: 500px) {
  .first-page #container11 {
    display: none;
  }
}
.first-page svg {
  transform: rotate(315deg);
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000;
  background: rgb(0, 0, 0);
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linecap: round;
  stroke-width: 4%;
}
.first-page use {
  stroke: #dd0103;
  animation: a 4s linear infinite;
}
@keyframes a {
  to {
    stroke-dashoffset: 0px;
  }
}

.second-page .second-title h2 {
  font-size: 65px;
  color: white;
  font-weight: 700;
  font-family: poppins;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: white;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: black;
  cursor: default;
}
.second-page .second-img img {
  width: 100%;
  height: 480px;
}
.second-page .counter-span-text {
  color: white;
  margin-top: -110px;
  position: absolute;
  margin-left: 270px;
}
.second-page .second-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-page .second-counter .counter {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 110px;
  margin-top: -60px;
  font-weight: 700;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: black;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}
.second-page .second-counter .counter:hover {
  color: rgb(255, 0, 0);
  -webkit-text-stroke-color: rgb(255, 0, 0);
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .second-page .second-title h2 {
    font-size: 33px;
  }
  .second-page .second-counter .counter {
    padding-top: 50px;
    gap: 50px;
    font-size: 58px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
}
@media only screen and (max-width: 500px) {
  .second-page .second-title h2 {
    font-size: 22px;
    padding-top: 70px;
  }
  .second-page .second-img img {
    padding-top: 30px;
    height: 380px;
  }
}
@media only screen and (max-width: 350px) {
  .second-page .second-title h2 {
    font-size: 22px;
    padding-top: 70px;
  }
  .second-page .second-img img {
    padding-top: 30px;
    height: 280px;
  }
}
@media only screen and (max-width: 500px) {
  .second-page .second-counter .counter {
    font-size: 38px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
}
@media only screen and (max-width: 360px) {
  .second-page .second-counter .counter {
    padding-top: 80px;
    font-size: 38px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    font-family: "Montserrat", sans-serif;
  }
  .second-page .second-counter {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 500px) {
  .second-page .counter-span-text {
    font-size: 10px;
    margin-top: -10px;
    margin-left: 10px;
  }
  .second-page .second-counter {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 375px) {
  .second-page .second-counter .counter {
    padding-top: 10px;
  }
  .second-page .second-title h2 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 500px) {
  .second-page .second-title h2 {
    font-size: 33px;
    word-wrap: break-word;
    text-align: center;
  }
}
@media only screen and (min-width: 500px) {
  .second-page .second-h1-mobile {
    display: none;
  }
}
@media only screen and (max-width: 330px) {
  .second-page .second-counter .counter {
    padding-top: 20px;
  }
}

.third {
  background-color: black;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  overflow: hidden;
  transform: skew(5deg);
}
.container3 .card333 {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}
.container3 .card333 .card__head {
  color: hsl(0, 0%, 100%);
  background: rgba(221, 1, 5, 0.4274509804);
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  white-space: nowrap;
  font-family: poppins;
}
.container3 .card333:hover {
  flex-grow: 10;
}
.container3 .card333:hover img {
  filter: grayscale(0);
}
.container3 .card333:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  transform: rotate(0deg) skew(-5deg);
}
.container3 .card333 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.container3 .card333:not(:nth-child(5)) {
  margin-right: 1em;
}

.third-header h3 {
  padding-top: 60px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: black;
  font-family: poppins;
  cursor: default;
}

@media only screen and (max-width: 500px) {
  .third-header h3 {
    font-size: 35px;
  }
  .container3 {
    padding-top: 120px;
  }
  .container3 .card333 .card__head {
    font-size: 20px;
    padding: 0;
    font-weight: 300;
  }
  .container3 .card333 .card__head:hover {
    font-size: 15px;
  }
}
.about-us-first-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.about-us-header-p {
  padding: 60px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 700;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  font-family: poppins;
  position: relative;
  cursor: default;
}

.about-us-main-p {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-align: center;
  cursor: default;
}

.about-us-footer-p {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 100;
  color: white;
  cursor: default;
}
.about-us-footer-p p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

@media only screen and (max-width: 996px) {
  .about-us-header-p {
    font-size: 35px;
    padding: 15px 0 0 0;
  }
}
@media only screen and (max-width: 996px) {
  .about-us-main-p {
    font-weight: 300;
    font-size: 20px;
    padding: 15px 0 0 0;
  }
}
@media only screen and (max-width: 996px) {
  .about-us-footer-p {
    font-size: 17px;
    padding: 15px 0 0 0;
  }
}
.about-us-second-page {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

.about-us-second-header {
  padding: 280px 0 0 0;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 1px #ffffff;
  color: rgb(0, 0, 0);
  font-family: poppins;
  cursor: default;
}

.Carousel {
  height: 300px;
  width: 98%;
}

.Carousel-card {
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  color: black;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 20px;
  scroll-snap-align: center;
  width: 270px;
  border: 3px solid red;
  height: 300px;
}

.Carousel-inner {
  display: flex;
  height: 300px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.Carousel-inner img {
  height: 300px;
  width: 270px;
}

.about-us-second-flegri-1 {
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  margin-bottom: 0px;
  line-height: 25px;
  font-family: poppins;
  opacity: 0.3;
  cursor: default;
}

.about-us-second-flegri-2 {
  display: block;
  font-size: 40px;
  color: white;
  font-family: poppins;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  margin-bottom: 0px;
  opacity: 0.2;
  cursor: default;
}

.about-us-second-flegri-3 {
  display: block;
  font-size: 40px;
  color: white;
  font-family: poppins;
  -webkit-text-stroke: 1px #ffffff;
  color: black;
  margin-bottom: 0px;
  opacity: 0.1;
  line-height: 25px;
  cursor: default;
}

@media only screen and (max-width: 1280px) {
  .about-us-second-footer {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .about-us-footer-p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 996px) {
  .about-us-second-header {
    font-size: 35px;
    padding: 50px;
  }
}
.about-us-second-footer {
  padding-top: 30px;
}

.about-us-third-page {
  background-color: black;
}
.about-us-third-page img {
  width: 100%;
  height: 100%;
  background-color: black;
  animation: stoked 600ms infinite;
}

@media only screen and (max-width: 500px) {
  .about-us-third-page-img {
    margin-bottom: 80px;
  }
}
.about-header-main {
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
}

.about-header-logo-img img {
  width: 60px;
  height: 60px;
}

.about-header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-header-main .about-header-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-header-main .about-header-navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.643);
  font-size: 20px;
  font-weight: 800;
}

.about-header-main .about-header-navbar ul li a:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}

.about-header-main .about-header-logo-img img {
  width: 60px;
  height: 60px;
}

.about-header-main .about-header-language ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 7px;
}

.about-header-main .about-header-language ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.374);
  font-size: 20px;
  font-weight: 600;
}

.about-header-main .about-header-language .lang-ru {
  color: rgb(209, 4, 4);
}

.about-header-main .about-header-language .lang-ru:hover {
  color: red;
  transition: all 0.4 ease-in-out;
}

.about-header-main .about-header-language .lang-en:hover {
  color: white;
  transition: all 0.4 ease-in-out;
}

.about-header-navbar {
  margin-top: 1rem;
}

.about-header-language {
  margin-top: 1rem;
}

@media only screen and (max-width: 969px) {
  .about-header-main {
    display: none;
  }
  .header-mobil {
    display: block;
  }
}
@media only screen and (min-width: 969px) {
  .about-header-main {
    display: block;
  }
  .header-mobil {
    display: none;
  }
}
#contact {
  background-color: black;
  height: 100vh;
}
#contact input {
  background-color: #372170;
  border: 1px solid #4b3583;
}
#contact .single-box {
  border: 1px solid #e2dafb;
  border-radius: 20px;
  margin-top: 30px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100px;
  padding: 25px;
}
#contact .contact-text {
  font-size: 40px;
  font-weight: 200;
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 10px;
}
#contact .text-area {
  font-size: 24px;
  line-height: 31.2px;
  margin-top: -6px;
  color: white;
}
#contact .email {
  margin-right: 30px;
  margin-left: 20px;
}
#contact .phone {
  margin-right: 30px;
  margin-left: 20px;
}
#contact .social {
  display: block;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}
#contact .icons-decoration {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-left: -40px;
  font-size: 30px;
  margin-top: 20px;
}
#contact form {
  border: 1px solid #4b3583;
  border-radius: 60px;
  padding: 20px;
  background-color: #2c1860;
}
#contact button {
  text-align: center;
  border-radius: 17px;
  background-color: #ff7a1f;
  width: 200px;
  height: 60px;
  text-shadow: #ff7a1f;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #ff7a1f;
  margin-bottom: 10px;
}
#contact .name {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #2c1860;
  border: 1px solid white;
}
#contact .email1 {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #2c1860;
  border: 1px solid white;
  margin-top: 5px;
}
#contact .subject {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #2c1860;
  border: 1px solid white;
  margin-top: 5px;
}
#contact .message1 {
  width: 100%;
  border-radius: 10px;
  background-color: #2c1860;
  border: 1px solid white;
  margin-top: 5px;
}
#contact label {
  color: white;
  font-weight: 800;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  #contact .single.input {
    padding: 20px;
  }
  #contact .name {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #2c1860;
    border: 1px solid white;
  }
  #contact .email1 {
    width: 100%;
  }
  #contact .subject {
    width: 100%;
  }
  #contact .message1 {
    width: 100%;
  }
  #contact .contact-text {
    text-align: center;
  }
  #contact .social {
    text-align: center;
  }
  #contact input,
  #contact textarea {
    padding: 9px 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #ebe5ff;
    border: 1px solid #cdc7e0;
    outline-color: transparent;
  }
  #contact .email {
    width: 50px;
    height: 50px;
  }
  #contact h5 {
    font-size: 20px;
  }
  #contact p {
    font-size: 18px;
  }
}
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon.eot?8bv6dj");
  src: url("/assets/fonts/icomoon.eot?8bv6dj#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?8bv6dj") format("truetype"), url("/assets/fonts/icomoon.woff?8bv6dj") format("woff"), url("/assets/fonts/icomoon.svg?8bv6dj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before {
  content: "\e902";
}

.icon-folder:before {
  content: "\e903";
}

.icon-info-1:before {
  content: "\e900";
}

.icon-home:before {
  content: "\e901";
}